body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}

.post {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

a, a:hover {
	color: #3355BB; /* link color */
}

/*---------------------------------------------------------------*/

#mainnav {
	background-color: #831212; /* navbar background color 661111 */
}

.navbar-brand {
	font-size: 3em;
	line-height: 0.6em;
	font-variant: small-caps;
}

.navbar-brand a {
	color: #FFFFFF;
}

.navbar-brand a:hover {
	color: #DCDCDC;
    text-decoration: none;
}

/*---------------------------------------------------------------*/

.sidebaritem {
	margin-bottom: 15px;
}

.sidebarheader {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 17px;
	margin-bottom: 2px;
}

.affiliationitem {
    margin-bottom: 5px;
}

/*---------------------------------------------------------------*/

.teachingitem {
	margin-bottom: 6px;
}

.teachingterm {
	font-weight: bold;
}

.teachinglink {
	font-weight: bold;
}

/*---------------------------------------------------------------*/

.resourcelink {
	font-weight: bold;
}

/*---------------------------------------------------------------*/

.mainitem {
	margin-bottom: 1.25em;
}

.mainheader {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 25px;
	margin-bottom: 6px;
}

/*---------------------------------------------------------------*/

.newsitem {
	margin-bottom: 8px;
}

.newsdate {
	font-weight: bold;
}

/*---------------------------------------------------------------*/

.pub {
	padding-bottom: 8px;
}

.pubtextsection {
	padding-left: 0px;
}

.pubtitle {
	font-weight: bold;
}

.pubvenue {
	font-style: italic;
}

.pubaward {
	display: inline-block;
	margin-top: 5px;
	background-color: #112266;
	font-size: 13px;
}

/*---------------------------------------------------------------*/

.footercontent {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: right;
    font-size: 7px;
}

/*---------------------------------------------------------------*/